body {
    background-image: url("../static/profilebg.jpg");
    color: black
}

ol {
    background-color: #da5a5a49;
}

li {
    color: rgb(52, 12, 85);
    font-weight: 300;
    font-size: medium;
    text-decoration: underline;
    text-shadow: #5e595957;
}

h1 {
    color: red;
}

#grad1 {
    background: rgb(247, 255, 0);
    background: linear-gradient(90deg, rgba(247, 255, 0, 1) 4%, rgba(215, 227, 80, 1) 56%, rgba(0, 212, 255, 1) 100%);
}

.circles{
    z-index: -1;
}